body {
    margin: 0px;
}
header{
    background-color:rgba(27, 18, 18, 0);
    position: absolute;
    width: 250px;
    height: 100%;
    display: table-cell;
    bottom:0;
}

.caja{
    width: 100%;
    margin: 0 auto;
}


nav li{
     /*display: inline;*/
    margin: 0 0 0 15px;
}

nav{
   /* position: absolute;*/
    top: 110px;
    right: 0;
}
h2{
    text-align: center;
    color: #f5eb9a;
    
}
nav a{
    text-transform: uppercase;
    color: #f5eb9a;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    }
    nav a:hover{
        list-style-type:none;
        text-decoration: underline;
    }
    nav ul{
        list-style-type:none;     
    }

    li.separar{
        margin: 30px;
    }
    #logo{
        height: 150px;
        margin: auto;
        display: block;
    }
    #logo2{
        width: 500px;
        margin: auto;
        display: block;
      
    }
    #logoSesion{
        width: 200px;
        
        margin: auto;
        margin-top: 20px;
        display: block;
    }
    form{
        margin: 40px 0;
        width: 100%;
        text-align: center;
    }
    form label, form legend{
        display: block;
        font-size: 20px;
        margin: 0 0 10px;
        color: #f5eb9a;
        
    }
    .enviar{
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 15px 0;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: #957e3f;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
        margin-bottom: 10px;
    
    }
    .enviar:hover{
        background: #976d19;
        transform: scale(1.2);
    }
    .input-padron{
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 50%;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 20px;
    }
    thead{
        background: #555555;
        color: white;
        font-weight: bold;
    }
    td, th{
        border: 1px solid #000000;
        padding: 8px 15px;
        color: white;
    }
   
    #menu  {
     position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-inicio_admin: 1;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    }
    #menu_fijo{
        width: 300px;
        position: fixed;
    }
    #menu_horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgb(3 3 3 / 30%);
      }
      
      #menu_horizontal li {
        float: right;
      }
      
      #menu_horizontal li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: underline;
        color: #f5eb9a;
      }
    #nav_menu_horizontal {
        display: flex;
        justify-content: space-between;
    }
    #btn-abrir, #menu_horizontal {
        display: inline-block;
      }
    #contenido {
        transition: margin-left .4s;
        padding: 1rem;
    }
    #btn-abrir {
        transition: visibility .3s;
    }

    #Cervezas{
        height: 150px;
        width: 90px;
        padding: 1px 30px;
        float: right;
        transition: 1s all;
        cursor: pointer;
        
    }

    #Cervezas:hover{
        height: 200px;
        
    }
    #contenedor_principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
#contenedor_imagenes{
    width: 100%;
    display: flex;
    justify-content: center;
}

#precios_cervesas{
    width: 150px;
}

#precios_cervesas h3{
    text-align: center;
    color: wheat;
  
}
#sombreado{
    background-color:rgb(4 4 4 / 60%);
}

h1, h2, h3, label, a, table > *{
    font-family: 'Roboto', sans-serif !important;
}    
